extends layout

block content
  .w3-card-4.w3-margin
    header.w3-container.w3-indigo
      h2 Ator: #{info.nome}
    .w3-container.w3-padding-16
      h4 🎬 Filmografia
      table.w3-table-all
        tr
          th Filme
          th Ano
        each f in filmes
          tr
            td
              a(href=`/filmes/${f._id}`) #{f.title}
            td= f.year
            
    footer.w3-container.w3-indigo
      a.w3-button.w3-black.w3-margin(href="/atores") ⬅️ Voltar