doctype html
html
  head
    title Cinema App
    meta(charset='utf-8')
    link(rel='icon', href='/favicon.png')
    link(rel='stylesheet', href='/w3.css')
  body
    .w3-bar.w3-black
      a.w3-bar-item.w3-button(href='/filmes') Filmes
      a.w3-bar-item.w3-button(href='/atores') Atores
      a.w3-bar-item.w3-button(href='/generos') Géneros
    block content
    footer.w3-container.w3-light-grey.w3-margin-top
      h5 Gerado em #{date}