extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h1= filme.title
    .w3-container.w3-padding-16
      p #[b Ano de Lançamento:] #{filme.year}
      h3 Géneros
      ul.w3-ul
        each g in filme.genres
          li: a(href="/generos/" + g)= g
      h3 Elenco
      ul.w3-ul
        each a in filme.cast
          li: a(href="/atores/" + a)= a
    footer.w3-container.w3-teal
      a.w3-button.w3-black.w3-margin(href="/filmes") Voltar